<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
  <head>
    <meta charset="utf-8"/>
    <title>{{ siteName }}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    {% do craft.app.view.registerCssFile('@web/styles.css') %}
  </head>
  <body>
    <nav>
      <div class="logo"></div>
      <ul>
      <li><a href="products.html">Products</a></li>
      <li><a href="solutions.html">Solutions</a></li>
      <li><a href="resources.html">Resources</a></li>
      <li><a href="newsroom.html">Newsroom</a></li>
      <li><a href="about.html">About</a></li>
      </ul>
      <a class="button-primary button-small" href="demo">Schedule a Demo</a>
    </nav>
    {% block content %}
      {# Nothing here, yet! #}
    {% endblock %}
  </body>
</html>
